// Colors
$darkest: #201A2F;
$darker: #3C3C42;
$dark: #7E808C;
$light: #A2A3A4;
$lighter: #DAD9DA;
$lightest: #F5F6F7;

$error: rgba(193, 128, 114, 1);
$alert: rgba(204, 179, 143, 1);
$success: rgba(151, 176, 114, 1);

$primary: $lightest;
$facebook: blue;

// Other Variables

$baseline: 1.6rem;

$border: 5px;
$padding: $baseline;

// Break Points
$media: screen;
$feature: -webkit-min-device-pixel-ratio;
$value: 1.5;

$breakpoint-20: 20rem;
$breakpoint-50: 50rem;
$breakpoint-80: 80rem;

// @media #{$media} and ($feature: $value) {
//   .sidebar {
//     width: 500px;
//   }
// }

@media #{$media} and ($feature: $value) and (min-width: $breakpoint-20) {
  .sidebar {
    width: 500px;
  }
}